body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

body .all {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: #404040;
  flex-direction: column;
}

body .all .header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

body .all .header h1 {
  color: aliceblue;
  font-size: 4em;
  text-align: left;
  margin: auto 5%;
}

body .all .main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body .all .main .app {
  position: relative;
  width: 100%;
  background-color: #404040;
  border-radius: 2%;
}

body .all a {
  color: coral;
  font-size: 1em;
  margin: 5px;
}

body .all p {
  color: lightslategrey;
  font-size: 1.5em;
  margin: 5px;
}

@font-face {
  font-family: 'MaruMonica';
  src: url(./font/MaruMonica.ttf);
}
